.vs/
.vscode/
*.user
*.suo
*.vcxproj.user
*.VC.db
*.opendb
*.ilk
*.pdb
*.obj
*.ipch
*.tlog
*.log
*.cache
stdout.txt
stderr.txt
build_errors.txt
x64/
Debug/
Release/
out/
build/
cmake-build-*/
vcpkg_installed/
LondonWe.*/
config.yaml
london_weather_dash.log
london_weather.log
